

    <h3 style="text-align: center;"> DETALLE DEL POSTULANTE</h3>
<div class="w-50 m-auto container p-3" style="background-color: #fff">
    <div>
        <label> <b> Apellido paterno: </b></label> {{postulante.aPaterno}}
    </div>
    <div>
        <label> <b> Apellido materno: </b></label> {{postulante.aMaterno}}
    </div>
    <div>
        <label> <b> Nombres: </b></label> {{postulante.nombres}}
    </div>
    <div>
        <label> <b> Fecha de nacimiento: </b></label> {{postulante.fechaNacimiento}}
    </div>
    <div>
        <label> <b> Telefono: </b></label> {{postulante.telefono}}
    </div>
    <div>
        <label> <b> Direccion: </b></label> {{postulante.direccion}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{postulante.email}}
    </div>
    <div>
        <label> <b> Estado civil: </b></label> {{postulante.estadoCivil}}
    </div>
    <div>
        <label> <b> Discapacidad: </b></label> {{postulante.discapacidad}}
    </div>
    <div>
        <label> <b> Sexo: </b></label> {{postulante.sexo}}
    </div>
    <div>
        <label> <b> Nacionalidad: </b></label> {{postulante.nacionalidad}}
    </div>
    <div>
        <label> <b> Region Nacimiento: </b></label> {{postulante.regionNacimiento}}
    </div>
    <div>
        <label> <b> Provincia Nacimiento: </b></label> {{postulante.provinciaNacimiento}}
    </div>
    <div>
        <label> <b> Distrito Nacimiento: </b></label> {{postulante.distritoNacimiento}}
    </div>
    <div>
        <label> <b> Region Domicilio: </b></label> {{postulante.regionDomicilio}}
    </div>
    <div>
        <label> <b> Provincia Domicilio: </b></label> {{postulante.provinciaDomicilio}}
    </div>
    <div>
        <label> <b> Distrito Domicilio: </b></label> {{postulante.distritoDomicilio}}
    </div>
    <div>
        <label> <b> Año de egreso: </b></label> {{postulante.anioEgreso}}
    </div>
    <div>
        <label> <b> Promedio Colegio: </b></label> {{postulante.promedioColegio}}
    </div>
    <div>
        <label> <b> Region Colegio: </b></label> {{postulante.regionColegio}}
    </div>
    <div>
        <label> <b> Provincia Colegio: </b></label> {{postulante.provinciaColegio}}
    </div>
    <div>
        <label> <b> Distrito Colegio: </b></label> {{postulante.distritoColegio}}
    </div>
    <div>
        <label> <b> Colegio: </b></label> {{postulante.colegio}}
    </div>
    <div>
        <label> <b> Paterno Apoderado: </b></label> {{postulante.paternoApoderado}}
    </div>
    <div>
        <label> <b> Materno Apoderado: </b></label> {{postulante.maternoApoderado}}
    </div>
    <div>
        <label> <b> Telefono Apoderado: </b></label> {{postulante.telefonoApoderado}}
    </div>
    <div>
        <label> <b> Turno: </b></label> {{postulante.turno}}
    </div>
</div>    
<div class="row">  
<div style="text-align: center;" class="col my-3">
    <button type="button" class="btn btn-success" style="background-color: #fb1f06c7;" (click)="atrasEditar()">Atras</button>
    <button type="button" class="btn btn-success" style="background-color: #fb1f06c7; margin-left: 0.5%;" (click)="guardar()">Guardar</button>
  </div>  
</div>